#slidebar {
    position: fixed;
    float: left;
    background-color: var(--main-color);
    opacity: 0.8;
    left: 50%;
    left: 50%;
    margin-left: -263px;
    width: 480px;
    height: 80px;
    top: 10px;
    padding-left: 20px;  
    padding-right: 20px;   
    border: 3px solid var(--main-color-2);
}

.vue-slide-bar-tooltip[data-v-d3e7b39a] {
  border: 1px solid var(--main-color-2)!important;
  background-color: var(--main-color-2)!important;
  font-family: 'Courier New', Courier, monospace;
}

.vue-slide-bar-separate-text[data-v-d3e7b39a] {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  font-size: 11px;
  margin-top: 2px;
}

#wrap {
  min-height: 0px!important;
}

.year-month-wrapper{
    background-color: var(--main-color-3);
}

  .calendario {
    width: 309px;
    margin-left: 10px;
  }


  input{
    text-align: center;
    font-size: 21px;
    color: var(--main-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    width: 100%;
    height: 30px;
    background-color: var(--main-color-5);
    border: 3px solid var(--main-color-2);
    outline: none;
    cursor: pointer;
    padding: 0;
  }

  @media screen and (max-width: 1190px) {
    .calendario {
      margin-top: 90px;
      position: fixed;
      left: 50%;
      margin-left: -154.5px;
      
    }

  

  }

  

  .datetime-picker{
    position: fixed;
    top: 10px;
  }
  .calender-div{
    background: var(--main-color);
    position: absolute;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    width: 315px;

  }
  .port {
    display: inline-block;
    width: 44px;
    text-align: center;
    cursor: pointer;
    color: var(--main-color-2);
    padding-top: 12px;
  }

  .week {
    height: 42px;
  }

  .days{
    display: inline-block;
    width: 44px;
    text-align: center;
    cursor: pointer;
    color: var(--main-color-2);
    font-weight: bold;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
  }
  .port:hover{
    color: var(--main-color-2);
    font-weight: 900;
    
  }

  .activePort, .activePort:hover {
    background-color: var(--main-color-3);
    color: var(--main-color);
    border-radius: 50%;
    height: 30px;
  }
  .month-setter, .year-setter{
    width: 49.8%;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    height: 36px;
  }
  
  .nav-l, .nav-r {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: var(--main-color-2);
    font-size: 16px;
    cursor: pointer;
    border: 0;
    margin: 3px;
    background-color: var(--main-color-3)
  }
  .nav-l:hover, .nav-r:hover {
    background-color: var(--main-color-2);
    border-radius: 50%;
    color: var(--main-color-4)
  }
  .nav-l:focus, .nav-r:focus{
    outline: none;
  }
  .nav-l{
    float: left;
  }
  .nav-r{
    float: right;
  }
  .month, .year {
    height: 100%;
    display: inline-block;
    color: var(--main-color);
    text-align: center;
    padding-top: 10px;
  }

  .noDisplay{
    display: none;
  }
  .okButton{
    color: var(--main-color-5);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    margin-bottom: 5px;
    float: right;
    border: 0;
    margin-right: 10px;
    cursor: pointer;
    background: transparent;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .okButton:hover {
    background: var(--main-color-3);
    border-radius: 100%;
  }