#slidebar {
    position: fixed;
    float: left;
    background-color: var(--main-color);
    opacity: 0.8;
    margin: collapse;
    margin-left: min(340px);
    width: 50vw;
    height: 10vh;
    top: 10px;
    padding-left: 20px;  
    padding-right: 20px;   
    border: 3px solid var(--main-color-2);
}
#wrap {
  min-height: 0px!important;
}

.year-month-wrapper{
    background-color: var(--main-color-3);
}

  input{
    margin-left: 10px;
    text-align: center;
    font-size: 21px;
    color: var(--main-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    width: 300px;
    height: 30px;
    background-color: var(--main-color-5);
    border: 3px solid var(--main-color-2);
    outline: none;
    cursor: pointer;
  }
  .datetime-picker{
    position: fixed;
    top: 10px;
  }
  .calender-div{
    background: var(--main-color);
    position: absolute;
    font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: 309px;
    margin-left: 10px;
  }
  .port {
    display: inline-block;
    width: 44px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    color: var(--main-color-2);
    padding-top: 12px;
  }
  .days{
    display: inline-block;
    width: 44px;
    
    text-align: center;
    cursor: pointer;
    color: var(--main-color-2);
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
  }
  .port:hover{
    color: var(--main-color-2);
    font-weight: 900;
    
  }
  .activePort, .activePort:hover {
    background-color: var(--main-color-3);
    color: var(--main-color);
    border-radius: 50%;
  }
  .month-setter, .year-setter{
    width: 49.8%;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    height: 36px;
  }
  
  .nav-l, .nav-r {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: var(--main-color-5);
    font-size: 16px;
    cursor: pointer;
    border: 0;
    margin: 3px;
    background-color: var(--main-color-3)
  }
  .nav-l:hover, .nav-r:hover {
    background-color: var(--main-color-2);
    border-radius: 50%;
    color: var(--main-color-4)
  }
  .nav-l:focus, .nav-r:focus{
    outline: none;
  }
  .nav-l{
    float: left;
  }
  .nav-r{
    float: right;
  }
  .month, .year {
    height: 100%;
    display: inline-block;
    color: var(--main-color);
    text-align: center;
    padding-top: 10px;
  }

  .noDisplay{
    display: none;
  }
  .okButton{
    color: var(--main-color-5);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    padding: 10px;
    float: right;
    border: 0;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: transparent;
  }

  .okButton:hover {
    background: var(--main-color-3);
    border-radius: 50%;
  }