:root {
    --main-color: #e0fbfc;
    --main-color-2: #293241;
    --main-color-3: #ee6c4d;
    --main-color-4: #98c1d9;
    --main-color-5:#3d5a80;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 75px;
    position: fixed;
    float: left;
    right: 70px;
    bottom: 35px;
    border-radius: 15px;
    opacity: 0.8;
    margin: collapse;
    border: var(--border-size-1) solid var(--border-color-1);
    background-color: white;
    padding: 5px;
}