:root {
    --main-color: #f1faee;
    --main-color-2: #1d3557;
    --main-color-3: #e63946;
    --main-color-4: #a8dadc;
    --main-color-5:#457b9d;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.logo {
    width: 115px;
    position: fixed;
    float: left;
    right: 70px;
    bottom: 40px;
    border-radius: 15px;
    opacity: 0.8;
    margin: collapse;
    border: var(--border-size-1) solid var(--border-color-1);
    background-color: transparent;
    padding: 5px;
}